<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DALLinq2db" version="1.0.0.3" targetFramework="net461" />
  <package id="linq2db" version="1.10.2" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net461" />
</packages>